.headingContent{
    width: 570px;
    height: 64px;
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.02em;
text-align: left;
color: #5C6169;
margin-top: 10px;
}
.heading{
    font-family: Poppins !important;
font-size: 31px !important;
font-weight: 500 !important;
line-height: 68px !important;
letter-spacing: 0.02em !important;
text-align: left !important;

width: 663px !important;
height: 128px !important;


}

.subHeading{
    font-family: Poppins !important;
font-size: 56px !important;
font-weight: 700 !important;
line-height: 68px !important;
letter-spacing: 0.02em !important;
text-align: left !important;

}

.heroBtn{
    width: 177px;
height: 48px;
background: #2AA8FF;
padding: 12px 36px 12px 36px;
margin-top: 10px;
border-radius: 8px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
/* text-align: left; */
color:#fff;
border: 1px solid #2AA8FF;

}