.familyContainer{
/* width: 1449px; */
height: 789px;
background:linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
}




.familyLeft{
display: flex;
flex-direction: column;
justify-content:center ;
align-items:center;
/* width: 575px;
height: 714px; */

}
.familyLeft h5{
width: 491px;
height: 18px;
font-family: Poppins;
font-size: 17px;
font-weight: 600;
line-height: 18px;
text-align: left;
color:#2AA7FF;



}

.familyLeft h2{
    width: 468.97px;
    height: 65.5px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 67px;
    text-align: left;
    color:#1B3C74;
    margin-right: 20px;

    
}

.familyLeft p{
width: 477.17px;
height: 205px;
font-family: Inter;
font-size: 17px;
font-weight: 500;
line-height: 40.8px;
text-align: left;
color: #77829D;



}

.familyRight{
    /* width: 585px; */
/* height: 714px; */
padding-top: 25px;
}