.socialLogo{
    display: flex;
    align-items: end;
    height: 162px;
    gap: 12px;
}

.footer2{
    /* width: 1440px; */
height: 424px;
/* top: 6215px; */
padding: 78px 135px 30px 162px;
background: #1B3C74;

}

.footer1{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    position: relative;
    height: 542px;
}

.fImg{
    position: absolute;
    top: 38px;
}

.para{
 width: 498px;
height: 28px;
margin-top: 100px;
color: #FFFFFF;

}